section.story
    h3.story__title Живые истории бывших дожников
    .story__container
        a(href="javascript:void(0)").story-item
            span.story-item__title Дело о банкротстве № А40-29331/16
            p.story-item__desc Юристы НЦБ завершили два больших дела с одной общей кредитной историей. В рамках проведенных процедур банкротства были списаны долги на сумму около 400 млн рублей. 
            .story-item__row
                img(src="./img/story_item_example.jpg", alt="")
                .story-item__col
                    span.story-item__amount 1 345 640 ₽

                    span.story-item__sub-title Причина задолженности
                    p.story-item__text Неуплата налогов, кредиты, займы
                    span.story-item__sub-title Дата завершения 
                    p.story-item__text 11 декабря 2017 года
                    span.story-item__sub-title Статус должника
                    p.story-item__text Базин С. А. освобожден от дальнейшего исполнения требований кредиторов

        a(href="javascript:void(0)").story-item
            span.story-item__title Дело о банкротстве № А40-29331/16
            p.story-item__desc Юристы НЦБ завершили два больших дела с одной общей кредитной историей. 
            .story-item__row
                img(src="./img/story_item_example.jpg", alt="")
                .story-item__col
                    span.story-item__amount 1 345 640 ₽

                    span.story-item__sub-title Причина задолженности
                    p.story-item__text Неуплата налогов, кредиты, займы
                    span.story-item__sub-title Дата завершения 
                    p.story-item__text 11 декабря 2017 года
                    span.story-item__sub-title Статус должника
                    p.story-item__text Базин С. А. освобожден от дальнейшего исполнения требований кредиторов

        a(href="javascript:void(0)").story-item
            span.story-item__title Дело о банкротстве № А40-29331/16
            p.story-item__desc Юристы НЦБ завершили два больших дела с одной общей кредитной историей. В рамках проведенных процедур банкротства были списаны долги на сумму около 400 млн рублей. 
            .story-item__row
                img(src="./img/story_item_example.jpg", alt="")
                .story-item__col
                    span.story-item__amount 1 345 640 ₽

                    span.story-item__sub-title Причина задолженности
                    p.story-item__text Неуплата налогов, кредиты, займы
                    span.story-item__sub-title Дата завершения 
                    p.story-item__text 11 декабря 2017 года
                    span.story-item__sub-title Статус должника
                    p.story-item__text Базин С. А. освобожден от дальнейшего исполнения требований кредиторов

        a(href="javascript:void(0)").story-item
            span.story-item__title Дело о банкротстве № А40-29331/16
            p.story-item__desc Юристы НЦБ завершили два больших дела с одной общей кредитной историей. В рамках проведенных процедур банкротства были списаны долги на сумму около 400 млн рублей. 
            .story-item__row
                img(src="./img/story_item_example.jpg", alt="")
                .story-item__col
                    span.story-item__amount 1 345 640 ₽

                    span.story-item__sub-title Причина задолженности
                    p.story-item__text Неуплата налогов, кредиты, займы
                    span.story-item__sub-title Дата завершения 
                    p.story-item__text 11 декабря 2017 года
                    span.story-item__sub-title Статус должника
                    p.story-item__text Базин С. А. освобожден от дальнейшего исполнения требований кредиторов