section.what
    .what__container
        .n-container
            h3.what__title ЧТО ТАКОЕ БАНКРОТСТВО?
            p.what__text-18.mb-40 <b>Банкротство физического лица</b> – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
            p.what__text-18.w-350 <b>В срезе по годам виден устойчивый рост инициирования процедуры россиянами.</b>


            .what-charts
                .what-charts-item
                    span.what-charts-item__count 870 банкротств
                    .what-charts-item__chart
                    span.what-charts-item__year 2015
                .what-charts-item
                    span.what-charts-item__count 19 574 банкротств
                    .what-charts-item__chart
                    span.what-charts-item__year 2016
                .what-charts-item
                    span.what-charts-item__count 29 827 банкротств
                    .what-charts-item__chart
                    span.what-charts-item__year 2017
                .what-charts-item
                    span.what-charts-item__count 43 984 банкротств
                    .what-charts-item__chart
                    span.what-charts-item__year 2018
                .what-charts-item
                    span.what-charts-item__count 29 017 банкротств
                    .what-charts-item__chart
                    span.what-charts-item__year 2019
        

            .what-rbk
                img(src="./img/rbk.png", alt="")
                .what-rbk__col
                    p.what__text-18 По информации Единого федерального реестра сведений о банкротстве: Всего за 4 года - 123 272 гражданина
                    p.what__text-14 Так, если к концу 2015 года таких дел был всего 870, то уже в  2016 году показатель увеличился в 20 раз – банкротами стали тогда 19 574 россиян, в 2017 году – 29 827, в 2018 году – 43 984, за полгода 2019 года цифра достигла 29 017 человек


            .what-bullets
                h4.what-bullets__title Вы вправе подать на банкротство при наличии ОДНОГО из следующих признаков:
                .what-bullets__list
                    .what-bullets__item
                        span.what-bullets__item-num 1
                        span.what-bullets__item-text Общая сумма долгов выше 300 000 рублей перед физ. лицами и организациями
                    .what-bullets__item
                        span.what-bullets__item-num 2
                        span.what-bullets__item-text Просрочки платежей по кредитам свыше 3-х месяцев
                    .what-bullets__item
                        span.what-bullets__item-num 3
                        span.what-bullets__item-text Ухудшение финансовой ситуации и невозможности платить по кредитам своевременно и в полном объеме.


        .what-test
            p.what-test__text Проверьте возможность списания всех долгов в судебном порядке прямо сейчас
            a(href="javascript:void(0)").what-test__btn Пройти тест (1 мин.)


        .n-container
            .what-video
                h4.what-video__title Какие долги списываются в процедуре банкротства?
                p.what-video__text Просто позвоните нам или закажите обратный звонок. Мы детально проконсультируем Вас, как объявить себя банкротом и не платить кредит.
                .what-video__wrap
                    iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")