section.steps
    h2.steps__title Процедура по шагам

    <!-- Step: 1 -->
    .steps__heading
        h3.steps__heading-title Шаг 1: Собрать необходимые документы
    .n-container
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Скачайте образцы заявлений
            p.steps-form__text Мы отправим вам полный список документов, шаблоны и примеры на электронную почту 
            .steps-form__row
                input(type="text" placeholder='Ваш Email')
                button(type='submit') Получить консультацию

    <!-- Step: 2 -->
    .steps__heading
        h3.steps__heading-title Шаг 2: Подготовить и подать заявление на банкротство в арбитражный суд

    .n-container
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Заказажите составление заявления у банкротного юриста
            .steps-form__row
                input(type="text" placeholder='Ваш телефон')
                button(type='submit') Получить консультацию

    <!-- Step: 3 -->
    .steps__heading
        h3.steps__heading-title Шаг 3: Первое заседание суда

    .n-container
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Доверьте представление своих интересов в суде опытным юристам по банкротству
            .steps-form__row
                input(type="text" placeholder='Ваш телефон')
                button(type='submit') Получить консультацию

        
        h5.steps__sub-title Утверждение финансового управляющего
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Получите консультацию у лучших арбитражных управляющих Москвы и МО
            .steps-form__row
                input(type="text" placeholder='Ваш телефон')
                button(type='submit') Получить консультацию


article.steps-test
    p.steps-test__text Признают ли вас банкротом? <br>Ответьте на 5 простых вопросов и получите анализ своей ситуации
    a(href="javascript:void(0)").steps-test__btn Пройти тест (1 мин.)