section.steps
    h2.steps__title Процедура по шагам

    <!-- Step: 1 -->
    .steps__heading
        h3.steps__heading-title Шаг 1: Собрать необходимые документы
    .n-container
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Скачайте образцы заявлений
            p.steps-form__text Мы отправим вам полный список документов, шаблоны и примеры на электронную почту 
            .steps-form__row
                input(type="text" placeholder='Ваш Email')
                button(type='submit') Получить консультацию

    <!-- Step: 2 -->
    .steps__heading
        h3.steps__heading-title Шаг 2: Подготовить и подать заявление на банкротство в арбитражный суд

    .n-container
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Заказажите составление заявления у банкротного юриста
            .steps-form__row
                input(type="text" placeholder='Ваш телефон')
                button(type='submit') Получить консультацию

    <!-- Step: 3 -->
    .steps__heading
        h3.steps__heading-title Шаг 3: Первое заседание суда

    .n-container
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Доверьте представление своих интересов в суде опытным юристам по банкротству
            .steps-form__row
                input(type="text" placeholder='Ваш телефон')
                button(type='submit') Получить консультацию

        
        h5.steps__sub-title Утверждение финансового управляющего
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Получите консультацию у лучших арбитражных управляющих Москвы и МО
            .steps-form__row
                input(type="text" placeholder='Ваш телефон')
                button(type='submit') Получить консультацию


<!-- Промежуточная форма ( 3 шаг еще не закончился ) -->
article.steps-test
    p.steps-test__text Признают ли вас банкротом? <br>Ответьте на 5 простых вопросов и получите анализ своей ситуации
    a(href="javascript:void(0)").steps-test__btn Пройти тест (1 мин.)



<!-- Продолжение 3 шага - Утверждение одной из процедур банкротсва -->
section.steps
    h4.steps__sub-title.steps-cards__sub-title Утверждение одной из процедур банкротства
    .steps-cards
        a(href="javascript:void(0)").steps-card
            span.steps-card__title 1. Реструктуризация задолженности
            p.steps-card__desc Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
            .steps-card__btn Подробнее

        a(href="javascript:void(0)").steps-card
            span.steps-card__title 2. Реализация имущества
            p.steps-card__desc Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
            .steps-card__btn Подробнее

        .steps-cards__col

            a(href="javascript:void(0)").steps-card
                span.steps-card__title 2.1 Процедура при отсутствии имущества
                .steps-card__btn Подробнее

            a(href="javascript:void(0)").steps-card
                span.steps-card__title 2.2 Процедура при отсутствии имущества
                .steps-card__btn Подробнее

        .steps-cards__col
            p.steps-cards__offer Назначат ли вам реструктуризацию задолженности?
            a(href="javascript:void(0)").steps-cards__test-btn Пройти тест (1 мин.)

        .steps-cards__col
            p.steps-cards__offer Возможно ли сохранить ваше имущество? получите консультацию юриста
            a(href="javascript:void(0)").steps-cards__test-btn Пройти тест (1 мин.)


section.steps
    <!-- Step: 4 -->
    .steps__heading
        h3.steps__heading-title Шаг 4: Списание долгов

    .n-container
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
    
        h5.steps__sub-title Здесь вы гарантированно получите услугу вне зависимости от выбранной стратегии.

        span.steps__choose-var Выберите вариант

    .steps-services
        a(href="javascript:void(0)").steps-card.steps-services__card
            span.steps-card__title-bold НУЖНА ПОМОЩЬ ТОЛЬКО ЮРИСТА
            p.steps-card__desc Узнайте, можете ли вы стать банкротом <br> Получите бесплатную консультацию юриста <br> Изучите, какие долги списываются в процедуре банкротства
            .steps-card__btn Заказать
        a(href="javascript:void(0)").steps-card.steps-services__card
            span.steps-card__title-bold ЗАКАЗАТЬ БАНКРОТСТВО «ПОД КЛЮЧ»
            p.steps-card__desc Узнайте, можете ли вы стать банкротом <br> Получите бесплатную консультацию юриста <br> Изучите, какие долги списываются в процедуре банкротства
            .steps-card__btn Заказать
        a(href="javascript:void(0)").steps-card.steps-services__card
            span.steps-card__title-bold НУЖНА ПОМОЩЬ ФИНАНСОВОГО УПРАВЛЯЮЩЕГО
            p.steps-card__desc Узнайте, можете ли вы стать банкротом <br> Получите бесплатную консультацию юриста <br> Изучите, какие долги списываются в процедуре банкротства
            .steps-card__btn Заказать


    h3.steps__title Последствия процедуры банкротства

    .steps-order
        .steps-order__item
            .steps-order__item-arrow
            .steps-order__item-row
                span.steps-order__item-num 01
                p.steps-order__item-title Сбор документов для подачи в суд
        .steps-order__item
            .steps-order__item-arrow
            .steps-order__item-row
                span.steps-order__item-num 02
                p.steps-order__item-title Подача заявления в суд
        .steps-order__item
            .steps-order__item-arrow
            .steps-order__item-row
                span.steps-order__item-num 03
                p.steps-order__item-title Первое заседание суда

    .n-container
        p.steps__text Банкротство физического лица – признанная арбитражным судом неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам. По результатам рассмотрения дела суд освобождает должника от обязательств перед всеми кредиторами, в том числе теми, которые не были заявлены в рамках процедуры.
        .steps__video
            iframe(width="100%" height="500" src="https://www.youtube.com/embed/drmXF53HxWs" frameborder="0" allowfullscreen="")

        form.steps-form
            h5.steps-form__title Получите полную стратегию освобождения от долгов в электронном виде
            .steps-form__row
                input(type="text" placeholder='Ваш email')
                button(type='submit') Выслать документ